main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242424;
  color: #f0f0f0;

  button {
    background-color: aquamarine;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}