* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: #52FFB8;
  color: #0f0f0f;

  > ul {
    display: flex;
    gap: 1rem;
    list-style-type: none; 

    > li {
      > a {
        text-decoration: none;
      }
    }
  }
}

